@model AcunmedyaAkademiProject3.Entities.Contact

@{
    ViewData["Title"] = "Mesaj Sil";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3 class="card-title">Bu Mesajı Silmek İstediğinizden Emin Misiniz?</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                         <dt class = "col-sm-3">Ad Soyad:</dt>
                        <dd class = "col-sm-9">@Model.Name</dd>

                        <dt class = "col-sm-3">E-posta:</dt>
                        <dd class = "col-sm-9">@Model.Email</dd>

                        <dt class = "col-sm-3">Konu:</dt>
                        <dd class = "col-sm-9">@Model.Subject</dd>

                        <dt class = "col-sm-3">Mesaj:</dt>
                        <dd class = "col-sm-9">@Model.Message</dd>
                    </dl>

                    <form asp-area="Admin" asp-controller="Contact" asp-action="Delete" method="post">
                        <input type="hidden" asp-for="ContactId" />
                        @Html.AntiForgeryToken()
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                            <button type="submit" class="btn btn-danger d-flex align-items-center">
                                <i class="fas fa-trash-alt me-1"></i> Sil
                            </button>
                            <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="btn btn-secondary d-flex align-items-center">
                                <i class="fas fa-arrow-left me-1"></i> İptal
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 